@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);
* {
  box-sizing: border-box;
  font-family: sans-serif; }

.container {
  max-width: 960px;
  margin: 0 auto;
  padding: 0; }

.container-fluid {
  max-width: 100%;
  margin: 0 auto;
  padding: 0; }

.row {
  margin: 0;
  padding: 0; }
  .row::after {
    content: '';
    clear: both;
    display: block; }

[class*='col-'] {
  float: left; }

.col-1 {
  width: calc(8.33%*1); }

.col-2 {
  width: calc(8.33%*2); }

.col-3 {
  width: calc(8.33%*3); }

.col-4 {
  width: calc(8.33%*4); }

.col-5 {
  width: calc(8.33%*5); }

.col-6 {
  width: calc(8.33%*6); }

.col-7 {
  width: calc(8.33%*7); }

.col-8 {
  width: calc(8.33%*8); }

.col-9 {
  width: calc(8.33%*9); }

.col-10 {
  width: calc(8.33%*10); }

.col-11 {
  width: calc(8.33%*11); }

.col-12 {
  width: calc(8.33%*12); }

* {
  font-family: "Roboto", sans-serif;
  font-weight: normal;
  font-size: 17px;
  color: #212121;
  margin: 0; }

button {
  width: auto;
  height: auto;
  border: 0;
  margin: 0;
  padding: 0;
  outline: 0;
  background: none; }

a {
  text-decoration: none;
  color: white; }

.spacer {
  display: block;
  width: 100%;
  height: 90px;
  margin: 0;
  padding: 0; }

.section {
  display: block;
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center; }
  .section h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 22px;
    color: #fff;
    text-transform: uppercase; }

.green {
  background: #00bfa5; }

.violet {
  background: #9c27b0; }

.navigation-bar {
  width: 100%;
  height: 80px;
  display: flex;
  background: #00bfa5;
  align-items: center; }
  .navigation-bar .logo {
    width: 50%;
    color: #fff;
    font-size: 24px; }
  .navigation-bar nav {
    width: 50%;
    display: flex;
    justify-content: flex-end; }
    .navigation-bar nav a {
      margin-left: 30px;
      color: rgba(255, 255, 255, 0.8);
      font-size: 18px;
      text-decoration: none;
      -webkit-transition: all, 0.2s, ease-in-out;
      -moz-transition: all, 0.2s, ease-in-out;
      -o-transition: all, 0.2s, ease-in-out;
      -ms-transition: all, 0.2s, ease-in-out;
      transition: all, 0.2s, ease-in-out; }
      .navigation-bar nav a:hover {
        color: white; }
      .navigation-bar nav a:active {
        border-bottom: 2px solid #fff;
        margin-top: 10px; }
      .navigation-bar nav a.active {
        color: white;
        border-bottom: 2px solid #fff;
        padding-bottom: 2px; }

.hero {
  height: 100vh;
  background-position: center center;
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center; }
  .hero .container .title {
    font-size: 38px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 35px; }
  .hero .container .blurb {
    font-size: 24px;
    font-weight: 400;
    color: #fff;
    width: 60%;
    margin: 0 auto;
    line-height: 2em;
    margin-bottom: 35px; }
  .hero .container .check {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #fff;
    -webkit-transition: all, 0.4s, ease-in-out;
    -moz-transition: all, 0.4s, ease-in-out;
    -o-transition: all, 0.4s, ease-in-out;
    -ms-transition: all, 0.4s, ease-in-out;
    transition: all, 0.4s, ease-in-out;
    padding: 15px;
    background: #9c27b0;
    border: 1px solid #ca61dc;
    border-radius: 4px;
    text-transform: uppercase; }
    .hero .container .check:active {
      background: #771e86;
      padding: 25px; }
    .hero .container .check:hover {
      background: #bc37d3; }

.col-4 {
  line-height: 2em; }
  .col-4 .offer {
    margin: 0 auto;
    -webkit-transition: all, 0.4s, ease-in-out;
    -moz-transition: all, 0.4s, ease-in-out;
    -o-transition: all, 0.4s, ease-in-out;
    -ms-transition: all, 0.4s, ease-in-out;
    transition: all, 0.4s, ease-in-out;
    width: 70px;
    height: 70px;
    background: #00bfa5;
    border-radius: 50%; }
    .col-4 .offer i {
      display: flex;
      justify-content: center;
      line-height: 70px;
      font-size: 32px;
      color: #fff; }
    .col-4 .offer i {
      -webkit-transition: all, 0.7s, ease-in-out;
      -moz-transition: all, 0.7s, ease-in-out;
      -o-transition: all, 0.7s, ease-in-out;
      -ms-transition: all, 0.7s, ease-in-out;
      transition: all, 0.7s, ease-in-out; }
    .col-4 .offer:hover {
      background: #00d9bb; }
      .col-4 .offer:hover i {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg); }
  .col-4 h3 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #212121;
    text-align: center;
    margin-top: 20px; }
  .col-4 p {
    text-align: center;
    margin: 0 10px; }

.hire {
  display: block;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
  -webkit-transition: all, 0.4s, ease-in-out;
  -moz-transition: all, 0.4s, ease-in-out;
  -o-transition: all, 0.4s, ease-in-out;
  -ms-transition: all, 0.4s, ease-in-out;
  transition: all, 0.4s, ease-in-out;
  padding: 15px 35px;
  background: #9c27b0;
  border: 1px solid #ca61dc;
  border-radius: 4px;
  text-transform: uppercase; }
  .hire:active {
    background: #771e86;
    padding: 15px 45px; }
  .hire:hover {
    background: #bc37d3; }

.hero {
  background-image: url("/images/hero-image.jpg"); }
