* { box-sizing: border-box; font-family: sans-serif; }

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0;
}

.container-fluid {
    max-width: 100%;
    margin: 0 auto;
    padding: 0;
}

.row {
    margin: 0;
    padding: 0;
    
    &::after {
        content: '';
        clear: both;
        display: block;
    }
}

[class*='col-'] {
    float: left;
}


.col-1 { width: calc(8.33%*1); }
.col-2 { width: calc(8.33%*2); }
.col-3 { width: calc(8.33%*3); }
.col-4 { width: calc(8.33%*4); }
.col-5 { width: calc(8.33%*5); }
.col-6 { width: calc(8.33%*6); }
.col-7 { width: calc(8.33%*7); }
.col-8 { width: calc(8.33%*8); }
.col-9 { width: calc(8.33%*9); }
.col-10 { width: calc(8.33%*10); }
.col-11 { width: calc(8.33%*11); }
.col-12 { width: calc(8.33%*12); }
