* { @include roboto(normal, 17px, $text); }

.navigation-bar {
    width: 100%;
    display: flex;
    background: $green;
    align-items: center;
    .logo {
        width: 50%;
        color: #fff;
        font-size: 24px;
    }
    
    nav {
        width: 50%;
        display: flex;
        justify-content: flex-end;
        
        a {
            margin-left: 30px;
            color: #fff;
            font-size: 18px;
            text-decoration: none;
            
            &.active {
                border-bottom: 2px solid #fff;
                padding-bottom: 2px;
            }
        }
    }
}