doctype html
html(lang="pl")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Moja pierwsza strona WWW
    link(rel="stylesheet", href="css/main.css")
body
  .container
    .row
      header
        h1 Moja pierwsza responsywna strona WWW
        nav
          a(href="#") Menu1
          a(href="#") Menu2
          a(href="#") Menu3
          a(href="#") Menu4
                    
      section.hero
          h1 Jestem bohaterem tej strony
          p  Krótki tekst rozpoczynający na stronie
          button.check Sprawdź mnie
          
      section.about
          .col-4
              .aboutIcon
                  img(src="icon.png", alt="icon 32x32")
                  h2 O mnie nagłówek
                  p krótki opis o mnie
          .col-4
              .aboutIcon
                  img(src="icon.png", alt="icon 32x32")
                  h2 O mnie nagłówek
                  p krótki opis o mnie
          .col-4
              .aboutIcon
                  img(src="icon.png", alt="icon 32x32")
                  h2 O mnie nagłówek
                  p krótki opis o mnie
                        
